{% extends 'base.html' %}
{% block title %}TITLE{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Welcome to the secret page</h1>
  </div>
  <blockquote>
    <p>I asked my friend about his time in prison.</p>
    <p>I have mixed feelings. On one hand I was surrounded by the worst society had to offer. I shared cells with thieves, murderers, and rapists. On the other hand the prison library was filled with the best collection of literature that I've ever seen. I don't know. It has its prose and cons.</p>
    <footer><a href="http://www.reddit.com/user/LookAtMahKitties" target="_blank">/u/LookAtMahKitties</a> in <a href="http://www.reddit.com/r/jokes" target="_blank">/r/jokes</a></footer>
  </blockquote>
{% endblock %}
